# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Untracked Files
IBM_Quest_data_generator/
ResultFiles/
TestFiles/
*Lazo*
	
# Testing Files
*C01T5S250I003SP5.txt
*C10T8S8I8.txt
*C10T8S8I8-FF.txt
*CrossVal Known Correct.txt
*N8S250T20N004S5.pat
*N8S250T20N004S5.txt
*Results*
*S10SP2PL8nI5000.txt
*Signs.txt
*Test.txt

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
